/src/mac/mac.f
/.deps
/debian
/build/aa_test
/build/aa_testpp
/Makefile.in
/aclocal.m4
/amino-0.20110914.tar.gz
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/install-sh
/aa_test
/missing
/stamp-h1
/ltmain.sh
/libtool
/depcomp
/autom4te.cache
/.libs
*.la
*.lo
