/src/mac/mac.f
/.deps
/build/aa_test
/build/aa_testpp
/Makefile.in
/aclocal.m4
/amino-0.20110914.tar.gz
/autoscan.log
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.scan
/install-sh
/aa_test
/missing
/stamp-h1
/ltmain.sh
/libtool
/depcomp
/autom4te.cache
/.libs
*.la
*.lo
/debian/files
/debian/tmp
/debian/libamino0
/debian/libamino-dev
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/doxygen-doc
/texput.log
/clapack-doc.c
/la-doc.c
/lapack-doc.c
/Makefile
/amino_la.mod
/core
/la_mod.f90
/la_test
