Source: amino
Priority: extra
Maintainer: Neil Dantam <ntd@gatech.edu>
Build-Depends: debhelper (>= 9), autotools-dev, gfortran, libblas-dev, liblapack-dev
Standards-Version: 3.9.4
Section: libs
Homepage: http://github.com/golems/amino

Package: libamino-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-gl0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-gl-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-collision0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-collision-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-planning0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-planning-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-opt-clp0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-opt-clp-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-opt-glpk0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: libamino-opt-glpk-dev
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.

Package: amino-utils
Section: libdevel
Architecture: any
Depends: libamino0 (= ${binary:Version}), ${misc:Depends}
Description: Robotics utility library
 Amino is package of basic utilities for robotics software.  It
 includes mathematical and linear algebra routines, memory management,
 and time-handling.  Design goals are easy integration, efficiency,
 and simplicity.
